.App {
  position: relative;
  padding-top: 64px;
  background: rgb(38, 42, 77);
  height: 100vh;
  color: white;
}

.App .bodyWrapper {
  margin: 0 2%;
}

a {
  color: rgba(0, 0, 0, 0.72);
  text-decoration: none;
}

a:hover {
  color: #55A4E7;
}